html, body {
    color: #333;
    height: 100%;
    background-color: #fff;
}
body.page-md.page-header-fixed.page-sidebar-closed-hide-logo {
    background-color: #fff;
}

.none_padding {
    padding: 0px;
}
.margin_top_15 {
    margin-top: 15px;
}
.padding_bottom_15 {
    padding-bottom: 15px;
}
.float_right {
    float: right;
}
.row-error {
    background-color: rgb(255, 210, 210);
}

.scaning-section .scan-content {
    padding: 15px;
    position: relative;
    height: auto;
    width: auto;
    display: -webkit-box;
}

.ul-left, .ul-right {
    list-style: none;
    float: left;
    width: 50%;
}
.ul-left li, .ul-right li {
    text-align: left;
    padding-top: 5px;
}

.td-quantity {
    font-size: 3rem !important;
    color: #5cb85c;
}

.cart_title {
    line-height: 35px;
    height: 45px;
}
.table_title {
    line-height: 45px;
}
.process-log p {
    font-size: 2rem;
}
.cart-page-content {
    padding-top: 75px;
}




