.page-header.navbar .page-logo .logo-default {
	margin-top:24px;
}
.tabbable-custom > .nav-tabs > li.active {
	border-top-color: #5b9bd1;
}
.has-error {
	border:1px solid #FF0000;
}
.error {
	color: #F44336;
}
.title-sku{
	width: 100%;
	height: 50px;
	float: left;
}
.break-hold{
	width: 15px;
}
.col-lg-1.float-right {
    text-align: right;
}

.search-bar{
  width: 200px;
  height: 100px;
  float: left;
  margin-top: 20px;
}

.error-logs {
  margin-left: 20px;
  font-size: 2rem;
}