.header-container {
  width: 100%;
  position: relative;
}
.header-container .page-header {
  position: relative;
}
.page-header-inner {
  position: relative;
  align-content: center;
  text-align: center;
  line-height: 5;
  margin: 0px 25px;
}

/******************************************************************************/
/* General */
/******************************************************************************/
.float-left {
  float: left;
}
.margin-left-15px {
  margin-left: 15px;
}
.margin-right-15px {
  margin-right: 15px;
}

/******************************************************************************/
/* Font */
/******************************************************************************/
.font-medium {
  font-size: 1.5rem;
}
.font-medium-bold {
  font-size: 1.5rem;
  font-weight: bold;
}

/******************************************************************************/
/* Top navigation */
/******************************************************************************/
.topnav {
  overflow: hidden;
  background-color: #ffffff;
}
.top-navigation-content {
  width: 80%;
  margin: auto;
}
.topnav a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  width: 150px;
  text-decoration: none;
  font-size: 9pt;
  text-decoration-color: black;
}
.topnav span {
  color: black;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
    background-color: #89C4F4;
    color: white;
}
.topnav a.active span {
  color: white;
}

/******************************************************************************/
/* Alignment */
/******************************************************************************/
/* // .text-align-right {
//   text-align: right;
// }
// .text-align-left {
//   text-align: left;
// }
// .ul-left, .ul-right {
//   list-style: none;
//   float: left;
// }
// .ul-left li, .ul-right li {
//   padding: 10px 0px;
// } */
