body {
    color: #333;
}

.none_padding {
    padding: 0px;
}
.margin_top_15 {
    margin-top: 15px;
}
.padding_bottom_15 {
    padding-bottom: 15px;
}
.float_right {
    float: right;
}
.row-error {
    background-color: #f7abab;
}

.scaning-section {
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
.scaning-section .scan-content {
    padding: 15px;
    position: relative;
    height: auto;
    width: auto;
    display: -webkit-box;
}
.scaning-section .process-log {
    border-top: 1px solid #ccc;
    position: relative;
    min-height: 50px;
    padding: 15px 15px 5px 15px;
}

.ul-left, .ul-right {
    list-style: none;
    float: left;
    width: 50%;
}
.ul-left li, .ul-right li {
    text-align: left;
    padding-top: 5px;
}

.td-quantity {
    font-size: 3rem !important;
    color: #5cb85c;
}

.cart_title {
    line-height: 35px;
    height: 45px;
}
.table_title {
    line-height: 45px;
}
.process-log p {
    font-size: 2rem;
}
.cart-page-content {
    margin-top: 75px;
}




